@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Raleway&display=swap');


img {
  width: 50%
}
.rotateImage {
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);

}

body {
  background-color : white;
 }
/* start of grid for look */
.gridlook {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 200px 200px 1fr 1fr ;
  grid-gap: 20px;
}

h1.fullwidth {
  grid-column-start: span 4;
}

p.fullwidth {
  grid-column-start: span 4;
}
/* End of grid for look  */
/*screen reader only*/
.hidden{
position: absolute;
 top: auto;
 left: 1px
 width: 100px;
 height: 100px;
 overflow: hidden;
}
/* end of screen reader only rule*/
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
}

ul li {
  list-style-type: none;
}


  h3, li a {
    font-size: 25px;
    line-height: 3;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: white;
  }


    * h1 {
      font-size: 45px;
      line-height: 4;
      text-align: center;
      font-family:  'Liu Jian Mao Cao', cursive;
    }

    * h2 {
      font-size: 25px;
      line-height: 4;
      text-align: left;
      font-family:  'Liu Jian Mao Cao', cursive;
    }

  * main img {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;

  }

.box1 {
  background: orange;
}

.box2 {
background: orange;

}

.box3{
  background: darkgreen;
}
